# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Philipp\sciebo\10_IFS_der_RWTH_Aachen\20_Python\Ridy_Support_Library\ridy-support-library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
